.gk-spinner {
  display: inline-flex;
}
.gk-spinner__circle {
  animation: gk-spinner-rotate 700ms linear infinite;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
}
.gk-spinner--sm .gk-spinner__circle {
  height: 0.875rem;
  width: 0.875rem;
}
.gk-spinner--lg .gk-spinner__circle {
  border-width: 3px;
  height: 2rem;
  width: 2rem;
}
@keyframes gk-spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .gk-spinner__circle {
    animation-duration: 0.001ms;
  }
}
